.face{
    border:solid black 1px ;
    background-color: #fff9b0;
    width: 50%;
    margin-left: 19%;
    margin-top: 1%;
    margin-bottom: 2%;
}
.date,.price{
    color: black;
    color: black;
    font-size: 20px;
}
.text{
    text-decoration: underline;
    font-weight: 700;
    display: block;
}